* {
    box-sizing: content-box;
  }
  body {
    margin: 0;
  }
  #igxc07{
    display:none;
  }
  #id60ii{
    display:none;
  }
  #iqu5bc{
    background-color:#7265dc;
  }
  #ibk03b{
    background-color:#ffffff;
  }
  #irdf{
    display:none;
  }
  #iv82{
    display:none;
  }
  #ithd{
    background-color:#ffffff;
  }
  #im2f{
    background-color:#7265dc;
  }